.sec_title {
    background-image: linear-gradient(to right, #141cfc, #7378fc);
    color: transparent;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.sec_title::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-image: linear-gradient(to right, #7378fc, #c6caec);
}
